@page "/"

<PageTitle>Index</PageTitle>

<h1>Blazor Server</h1>
<hr />
<h2>Gerenciamento de Roles e Users</h2>
<div>
    <img src="/images/roles.png" width="400" height="200" />
</div>


<SurveyPrompt Title="How is Blazor working for you?" />
